<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>TEDi BEAR Platform</title>
		<link rel="icon" type="image/x-icon" href="../img/logo-blue-short.png"/>

		<!-- Start Load CSS -->
		<link rel="stylesheet" href="css/open-sans.css">
		<link rel="stylesheet" href="bower_components/bootstrap-4.1.3/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bower_components/fontawesome-5.3.1/css/all.css">
		<link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
		<link rel="stylesheet" href="css/app.css">
		<!-- End Load CSS -->

	</head>
	<body>
		<div ng-app="tediApp" class="app-body">

			<nav class="ng-cloak navbar fixed-top navbar-expand-lg navbar-dark">
			  <a class="navbar-brand mr-5" ng-href="{{ isAdmin ? '#!/admin' : '#!/home' }}#"><img src="img/logo-white-short.png" alt="header logo" class="header-logo"/></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-if="!isAdmin">
			    <ul class="navbar-nav mx-auto">
			      <li class="nav-item" id="home-link">
			        <a class="nav-link" href="#!/home">Home</a>
			      </li>
			      <li class="nav-item" id="network-link">
			        <a class="nav-link" href="#!/network">Network</a>
			      </li>
				  <li class="nav-item" id="jobs-link">
			        <a class="nav-link" href="#!/jobs">Jobs</a>
			      </li>
				  <li class="nav-item" id="conversations-link">
			        <a class="nav-link" href="#!/conversations">Conversations</a>
			      </li>
				  <li class="nav-item" id="notifications-link">
			        <a class="nav-link" href="#!/notifications">Notifications</a>
			      </li>
			      <li class="nav-item" id="profile-link">
			        <a class="nav-link" href="#!/profile">Profile</a>
			      </li>
			  	</ul>
				<ul class="navbar-nav">
				  <li class="nav-item" id="settings-link">
			        <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Settings
					</div>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#!/edit">Login info</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item font-weight-bold" href="#!/logout">Log out</a>
			        </div>
			      </li>
			    </ul>
			  </div>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-if="isAdmin">
				<ul class="navbar-nav mx-auto">
  			      <li class="nav-item" id="admin-link">
  			        <a class="nav-link" href="#!/admin">Admin Page</a>
  			      </li>
  			  	</ul>
				<ul class="navbar-nav">
				  <li class="nav-item" id="settings-link">
			        <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Settings
					</div>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item font-weight-bold" href="#!/logout">Log out</a>
			        </div>
			      </li>
			    </ul>
			  </div>
			</nav>

			<div class="platform-body">
				<div ng-view class="main-view"></div>

				<footer class="main-footer">
					<div class="container">
						<div class="row">
							<div class="col">
								&copy; 2018 TEDi BEAR by D.Gounaris and P.Plytas.
							</div>
						</div>
					</div>
				</footer>
			</div>

		</div>

		<!-- Start Load Modules -->
		<script src="bower_components/jquery-3.3.1/jquery-3.3.1.min.js"></script>
		<script src="bower_components/bootstrap-4.1.3/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route-1.6.9/angular-route-1.6.9.min.js"></script>
		<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
		<script src="bower_components/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
		<script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
		<script src="bower_components/filesaver/FileSaver.min.js"></script>
		<!-- End Load Modules -->

		<!-- Start Load AngularJS [app, services, controllers] -->
		<script src="js/app.js"></script>
		<script src="js/services/generalService.js"></script>

		<script src="js/controllers/adminCtrl.js"></script>
		<script src="js/controllers/adminUserProfileCtrl.js"></script>
		<script src="js/controllers/homeCtrl.js"></script>
		<script src="js/controllers/networkCtrl.js"></script>
		<script src="js/controllers/userProfileCtrl.js"></script>
		<script src="js/controllers/jobsCtrl.js"></script>
		<script src="js/controllers/conversationsCtrl.js"></script>
		<script src="js/controllers/notificationsCtrl.js"></script>
		<script src="js/controllers/viewProfileCtrl.js"></script>
		<script src="js/controllers/editProfileCtrl.js"></script>
		<!-- End Load AngularJS [app, services, controllers] -->

	</body>
</html>
